@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OKGUNG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.header-font {
    font-family: 'yg-jalnan', sans-serif;
}
.okman-font {
    font-family: 'OKGUNG', sans-serif;
}
.shilla-font{
    font-family: 'Shilla_CultureB-Bold', sans-serif;
}
.jamsil-font{
    font-family:'TheJamsil5Bold', sans-serif;
}
.display-container {
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, .75);
    max-width: 415px;   
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;

    z-index: 0;
    background-color: #b2ccff;
    overflow-x: hidden;

    background-size: auto;
    background-image:url('../../img/clover.png');
    background-position: 27px 56px;
    background-repeat: no-repeat;
}

/* header section */
.header_title{
    position:relative;
    text-align: center;
    z-index:1;
    margin-top:91px;
}
.header_name{
    font-size:40px;
    color:#ffffff;
    -webkit-text-stroke: 1px #000000;
    margin-bottom:0px;
}
.header_sub{
    font-size:20px;
    color:#fff;
    -webkit-text-stroke: 1px #000000;
    margin-top:-10px;
}
.header_add{
    font-size:20px;
    color:#91AEE6;
    -webkit-text-stroke: 1px #000000;

}
/* background img */
.background_img {
    position: relative;
}
/* 구름 애니메이션 넣기 */
@-webkit-keyframes cloud-ani {
    0% {
        -webkit-transform: translateX(170px) translateY(0px);
    }

    100% {
        -webkit-transform: translateX(-500px) translateY(0px);
    }
}
@-webkit-keyframes cloud-ani2 {
    100% {
        -webkit-transform: translateX(-170px) translateY(0px);
    }

    0% {
        -webkit-transform: translateX(700px) translateY(0px);
    }
}
.cloud1 {
    z-index: -1;
    height: auto;
    position: absolute;
    width: 180px;
    right: -25px;
    margin-top: -50px;
    -webkit-animation-name: cloud-ani;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
}
.cloud2 {
    z-index: -1;
    height: auto;
    position: absolute;
    width: 180px;
    left: -25px;
    top: 100px;
    -webkit-animation-name: cloud-ani2;
    -webkit-animation-duration: 18s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
}
.cloud3 {
    z-index: -1;
    height: auto;
    position: absolute;
    width: 180px;
    right: -25px;
    top: 280px;
    -webkit-animation-name: cloud-ani;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
}

/*modal section*/
#modal.modal-bg {
	background: rgba(0,0,0,0);
	animation: fadeIn 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
.modal-bg .modal-cont {
	opacity: 0;
	animation: scaleUp 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
.modal-cont{
    width:310px;
    height:500px;
    display:flex;
    justify-content: center;
    background-color: white;
    z-index: 10;
    margin-left:52px;
    margin-top:55px;
    position:absolute;
    border-radius: 30px;
    border: 4px solid;
    border-color:#91AEE6;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s;
}
.bi-x{
    position:absolute;
    border: 0;
    background-color: transparent;
    height: 10px;
    z-index:10;
    margin-left:230px;
    margin-top:18px;
}
.name{
    color:#758DBB;
    margin-top:25px;
    margin-right:200px;
}
.bar{
    position:absolute;
    width: 250px;
    height: 2px;
    margin-top:50px;
}
.detail{
    position:absolute;
    margin-top: 60px;
    background-color: #e7eeff;
    width: 250px;
    height: 150px;
    border-radius: 20px;
}
.detail p{
    margin-top:15px;
    margin-left:15px;
    color:#758DBB
}
.bar2{
    position:absolute;
    width: 250px;
    height: 2px;
    margin-top:220px;
}
.term{
    position:absolute;
    margin-top:230px;
    color:#758DBB;
    margin-right:210px;
}
.bi-calendar-week1{
    position:absolute;
    margin-top:260px;
    margin-right:220px;
    color:#758DBB;
}
.start{
    position:absolute;
    margin-top:260px;
    margin-right:115px;
    background-color: #e7eeff;
    width: 80px;
    height: 25px;
    border-radius: 10px;
}
.start p{
    font-size: small;
    margin-left:10px;
    margin-top:1px;
    color: #758DBB;
}
.side{
    position:absolute;
    margin-top: 260px;
    margin-right: 4px;
    color: #758DBB;
}
.finish{
    position:absolute;
    margin-top:260px;
    margin-left:165px;
    background-color: #e7eeff;
    width: 80px;
    height: 25px;
    border-radius: 10px;
}
.finish p{
    font-size: small;
    margin-left:10px;
    margin-top:1px;
    color: #758DBB;
}
.bi-calendar-week2{
    position:absolute;
    margin-top:260px;
    margin-left:55px;
    color:#758DBB;
}

@keyframes fadeIn {
	0% {background: rgba(0,0,0,0)}
	100% {background: rgba(0,0,0,0.7)}
}
@keyframes fadeOut {
	0% {background: rgba(0,0,0,0.7)}
	100% {background: rgba(0,0,0,0)}
}
@keyframes scaleUp {
	0% {transform: scale(0.5) translatey(100px); opacity:0}
	100% {transform: scale(1) translatey(0px); opacity:1}
}
@keyframes scaleDown {
	0% {transform: scale(1) translatey(0px); opacity:1}
	100% {transform: scale(0.5) translatey(1000px); opacity:0}
}
@keyframes quickScaleDown {
	0% {transform: scale(1);}
	99.9% {transform: scale(1); }
	100% {transform: scale(0); }
}