@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OKGUNG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.header-font {
    font-family: 'yg-jalnan', sans-serif;
}
.okman-font {
    font-family: 'OKGUNG', sans-serif;
}
.shilla-font{
    font-family: 'Shilla_CultureB-Bold', sans-serif;
}
.display-container {
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, .75);
    max-width: 415px;   
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    z-index: 0;
    background-color: #b2ccff;
    overflow-x: hidden;

    /* 배경 이미지, 클로버 필요 없으면 첫 번째의 url과 position 값 지워주면 됨 */ 
    /* background-size: auto;
    background-image:url('../../img/clover.png'), url('../../img/cloud.png'), url('../../img/cloud.png'), url('../../img/cloud.png');
    background-position: 27px 56px, 270px 170px, -47px 403px, 250PX 557px;
    background-repeat: no-repeat; */
}

/* nav section */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    margin: auto;
}
.navbar .menu-items {
    display: flex;
}
.navbar .nav-container li {
    list-style: none;
}
.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}
.navbar .nav-container a:hover{
    font-weight: bolder;
}
.nav-container {
    display: block;
    position: relative;
    height: 60px;
}
.nav_logo {
    position: absolute;
    top: 13px;
    left: 15px;
    font-size: 1.2rem;
}
.nav_logo img{
    width: 45px;
    height: auto;
}
.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
}
.nav-container .hamburger-lines .line1 {
     transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.navbar .menu-items {
    padding-top: 108px;
    height: auto;
    width: 100%; /* 이거 수정해야 함 */
    transform: translate(150%);
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    z-index: 100;
}
.navbar .menu_durumari {
    background-image: url(../../img/durumari.png);
    transform: rotate(90deg);
    background-size: 600px 300px;
}
.navbar .menu-items p{
    font-family: 'Shilla_CultureB-Bold', sans-serif;
    margin-bottom: 1.2rem;
    font-size: 30px;
    font-weight: 500;
    transform: rotate(-90deg);
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

/* header section */
.header_title{
    position:relative;
    text-align: center;
    z-index:1;
    margin-top:21px;

}
.header_name{
    font-size:50px;
    color:#ffffff;
    -webkit-text-stroke: 1px #000000;
    margin-bottom:0px;
}
.header_sub{
    font-size:50px;
    color:#91AEE6;
    -webkit-text-stroke: 1px #000000;
    margin-top:-10px;
}
.header_add{
    font-size:15px;
    color:#5876B0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
}
/* background img */
.background_img {
    position: relative;
}
/* 구름 애니메이션 넣기 */
@-webkit-keyframes cloud-ani {
    0% {
        -webkit-transform: translateX(100px) translateY(0px);
    }

    100% {
        -webkit-transform: translateX(-500px) translateY(0px);
    }
}
@-webkit-keyframes cloud-ani2 {
    100% {
        -webkit-transform: translateX(-100px) translateY(0px);
    }

    0% {
        -webkit-transform: translateX(700px) translateY(0px);
    }
}
.cloud1 {
    z-index: 0;
    height: auto;
    position: absolute;
    width: 120px;
    right: -25px;
    margin-top: -50px;
    -webkit-animation-name: cloud-ani;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
}
.cloud2 {
    z-index: 0;
    height: auto;
    position: absolute;
    width: 120px;
    left: -25px;
    top: 100px;
    -webkit-animation-name: cloud-ani2;
    -webkit-animation-duration: 18s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
}
.cloud3 {
    z-index: 0;
    height: auto;
    position: absolute;
    width: 120px;
    right: -25px;
    top: 280px;
    -webkit-animation-name: cloud-ani;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
}
.cloud4 {
    z-index: 0;
    height: auto;
    position: absolute;
    width: 120px;
    left: -25px;
    top: 500px;
    -webkit-animation-name: cloud-ani2;
    -webkit-animation-duration: 18s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
}
/* durumari section */
.durumari{
    display:block;
    margin:auto;
    margin-top:30px;
}
.explan{
    position:relative;
    top:-150px;
    text-align: center;
    text-shadow: 0px 100px 70px #ffffffc9;    /* 두루마리 뒤 반짝이*/

}

/* login section  */
.login{
    margin-top:-90px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
select{
    width:180px;
    height:52px;
    border-color:#91AEE6;
    border-radius: 30px;
    text-align: center;
    font-size:20px;
    color:#758DBB;
    font-weight:bold;
    box-shadow: 3px 3px 5px  rgba(0, 0, 0, 0.2);
}
select option{
    font-size:20px;
    color:#758DBB;
    font-weight:bold;
}
.id{
    margin-top:26px;
    width:180px;
    height:52px;
    border:1px solid #91AEE6;
    border-radius: 30px;
    background-color: white;
    text-align:center;
    box-shadow: 3px 3px 5px  rgba(0, 0, 0, 0.2);
}
.id p{
    font-size:20px;
    color:#758DBB;
    font-weight: bold;
}
.id input{
    position: relative;
    bottom:23px;
    width:140px;
    height:23px;
    background: none;
    border:none;
    text-align: center;
    outline:none; /* input 눌렀을 때 테두리 제거 */
    border-bottom: 2px solid #758DBB;
    font-size:12px;
}
.id input[type="text"]{     
    font-size:12px;
}
.submit{
    margin-top:28px;
    background-color: white;
    border:1px solid #91AEE6;
    border-radius: 30px;
    width:109px;
    height:29px;
    color:#758DBB;
    font-size:13px;
    font-weight: bold;
    box-shadow: 3px 3px 5px  rgba(0, 0, 0, 0.2);
}

/* modal section */
.modal {
    display: none; 
    z-index: 1 !important;
}

/* 모달 콘텐츠 스타일 */
.modal_content {
    width: 339px !important;
    height: 744px; /* 모달 창의 높이 설정 */
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    border-radius: 43px !important;
    border:2px solid #5876B0;
    background-color:#fff;
}
.agree_header{
    text-align: center;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
    background-color:#BBDAFF;
    width:100%;
    font-size:18px;
    color:#2A4884;
    font-weight: bold;
    padding-top:10px;
    padding-bottom:5px;
    border-bottom:2px solid #5876B0;
}
.agree_content{
    padding-left:34px;
    padding-right:34px;
}
.black{
    padding-top:11px;
    font-size:15px;
    margin-bottom:7px;
}
.blue{
    color:#2A4884;
    font-size:15px;
    font-weight:bold;
}
.list{
    text-align: center;
    border:2px solid #758DBB;
    border-radius: 25px;
    margin-bottom:15px;
}
.list .name{
    border-bottom: 2px solid #758DBB;
    background-color:#DCECFF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size:16px;
    font-weight: bold;
    color:#2A4884;
    margin-bottom:5px;
}
.list p{
    margin-bottom:5px;
    font-size:15px;
}
.red{
    font-size:15px;
    color:#C55D5D;
}
.remind{
    text-align: center;
    font-size:16px;
    color:#2A4884;
    font-weight:bold;
}
.button{
    text-align: center;
}
.agree button{
    width:82px;
    height: 34px;
    border:1px solid #91AEE6;
    border-radius: 5px;
    background-color: #91AEE6;
    color:#ffffff;
    margin-right:15px;
}
.close button{
    width:82px;
    height:34px;
    border:2px solid #91AEE6;
    border-radius: 5px;
    background-color:#ffffff;
    color:#91AEE6;
}
.modal_footer{
    text-align: center;
    margin-top:10px;
    font-size:15px;
    color:#758DBB;
}

/* second modal */
.sec_modal{
    display:none;
    position: fixed; /* 또는 position: absolute; */
    top: 50%; /* 화면 세로 중앙에 위치 */
    left: 50%; /* 화면 가로 중앙에 위치 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    z-index: 2; /* 첫 번째 모달보다 위에 표시 */
}
.sec_modal_content{
    width: 286px !important;
    height: 197px; /* 모달 창의 높이 설정 */
    border-radius: 25px !important;
    border:2px solid #5876B0;
    background-color: #fff;
    text-align: center;
}
.sec_header{
    width:100%;
    background-color: #DCECFF;
    border-bottom:2px solid #758DBB;
    font-size:18px;
    font-weight: bold;
    color:#2A4884;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

/* 블러 효과 설정, js에서 값을 넣어줌 */
.blur-effect {
    filter: blur(5px); 
}

/* footer section */
.footer-section {
    margin-top: 120px;
}
.footer-section p{
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    color: rgba(97, 97, 97, 0.5);
}
.footer-section svg {
    z-index: 10;
    color: rgba(97,97, 97, 0.5);
    margin: 3px 2px;
}