@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OKGUNG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.header-font {
    font-family: 'yg-jalnan', sans-serif;
}
.okman-font {
    font-family: 'OKGUNG', sans-serif;
}
.shilla-font{
    font-family: 'Shilla_CultureB-Bold', sans-serif;
}
.display-container {
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, .75);
    max-width: 415px;   
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding-top: 100px;
    z-index: 0;
    background-color: #b2ccff;
    overflow-x: hidden;

    /* 배경 이미지, 클로버 필요 없으면 첫 번째의 url과 position 값 지워주면 됨 */ 
    background-size: auto;
    background-image:url('../../img/new_colover.png'), url('../../img/new_cloud.png'), url('../../img/new_cloud.png'), url('../../img/new_cloud.png');
    background-position: 27px 56px, 270px 170px, -47px 403px, 250PX 557px;
    background-repeat: no-repeat;
}

/* header section */
.header_title{
    position:relative;
    text-align: center;
    z-index:1;
    margin-top:21px;

}
.header_name{
    font-size:50px;
    color:#ffffff;
    -webkit-text-stroke: 1px #000000;
    margin-bottom:0px;
}
.header_sub{
    font-size:50px;
    color:#91AEE6;
    -webkit-text-stroke: 1px #000000;
    margin-top:-10px;
}
.header_add{
    font-size:15px;
    color:#5876B0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
}