@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OKGUNG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header-font {
    font-family: 'yg-jalnan', sans-serif;
}
.okman-font {
    font-family: 'OKGUNG', sans-serif;
}
.shilla-font{
    font-family: 'Shilla_CultureB-Bold', sans-serif;
}
.jamsil-font{
    font-family:'TheJamsil5Bold', sans-serif;
}
.tmoney-font{
    font-family: 'TmoneyRoundWindExtraBold', sans-serif;
}

/* display container */
.display-container {
    max-width: 415px;   
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    z-index: -1;
    background-color: #b2ccff;
    overflow-x: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
/* nav section */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    margin: auto;
}
.navbar .menu-items {
    display: flex;
}
.menu_list {
    margin-top: 20px;
}
.navbar .nav-container li {
    list-style: none;

}
.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}
.navbar .nav-container a:hover{
    font-weight: bolder;
}
.nav-container {
    display: block;
    position: relative;
    height: 60px;
}
.nav_logo {
    position: absolute;
    top: 13px;
    left: 15px;
    font-size: 1.2rem;
}
.nav_logo img{
    width: 45px;
    height: auto;
}
.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
}
.nav-container .hamburger-lines .line1 {
     transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

/* hamburger menu section */
.navbar .menu-items {
    margin-top: 40px;
    width: auto;
    height: 650px;
    transform: translate(150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    z-index: 100;   
}
.menu_durumari {
    width: 395px;
    height: 800px;
    background-image: url(../../img/durumari2.png);
    background-size: 395px 650px;
    z-index: 1000;
    letter-spacing: normal;
}
.menu-items .menu_logo{
    margin-top: 120px;
    margin-bottom: 10px;
}
.menu-items .menu_logo img {
    width: 65px;
    height: auto;
    border-radius: 20px;
}
.menu_durumari .tmoney {
    margin-bottom: 0;
    color: #758DBB;
    font-size: 13px;
}
.menu_line {
    border: 2px solid #758DBB;
    width: 170px;
    margin: 10px 114px;
}
.shilla {
    font-family: 'OKGUNG', sans-serif;
    margin-bottom: 1.2rem;
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}

.menu_footer svg {
    margin: 3px 2px;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

/* header section */
.header-circle{
    background-color: rgba(255, 255, 255, 0.301);
    width:100px;
    height: 100px;
    position:absolute;
    margin-left: 160px;
    border-radius: 100px;
    box-shadow: 0px 0px 50px 30px rgba(255, 255, 255, 0.341);
}
.header_title{
    position:relative;
    text-align: center;
    z-index:1;
    margin-top:21px;
}
.header_name{
    font-size:50px;
    color:#ffffff;
    -webkit-text-stroke: 1px #000000;
    margin-bottom:0px;
}
.header_sub{
    font-size:20px;
    color:#ffffff;
    -webkit-text-stroke: 1px #000000;
    margin-bottom:0px;
}
.header_sub2{
    font-size:20px;
    color:#91AEE6;
    -webkit-text-stroke: 1px #000000;
    margin-bottom:0px;
}

/* background img */
.background_img {
    position: relative;
}
/* 구름 애니메이션 넣기 */
@-webkit-keyframes cloud-ani {
    0% {
        -webkit-transform: translateX(170px) translateY(0px);
    }

    100% {
        -webkit-transform: translateX(-500px) translateY(0px);
    }
}
@-webkit-keyframes cloud-ani2 {
    100% {
        -webkit-transform: translateX(-170px) translateY(0px);
    }

    0% {
        -webkit-transform: translateX(700px) translateY(0px);
    }
}
.clover{
    position: absolute;
    margin-top: -180px;
    margin-left: 10px;
}
.cloud1 {
    z-index: 0;
    height: auto;
    position: absolute;
    width: 180px;
    right: -25px;
    margin-top: -30px;
    -webkit-animation-name: cloud-ani;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
}
.cloud2 {
    z-index: 0;
    height: auto;
    position: absolute;
    width: 180px;
    left: -25px;
    top: 120px;
    -webkit-animation-name: cloud-ani2;
    -webkit-animation-duration: 18s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
}
.cloud3 {
    z-index: 0;
    height: auto;
    position: absolute;
    width: 180px;
    right: -25px;
    top: 280px;
    -webkit-animation-name: cloud-ani;
    -webkit-animation-duration: 17s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
}

/* stamp section */
.stamp-section {
    margin-top: 25px;
}
.stamp_tool {
    z-index: 10;
    width: 350px;
    height: 470px;
    background-color: #DFEAFF;
    border: 4px solid #91AEE6;
    border-radius: 30px;
    overflow-y: scroll;
    box-shadow: inset 5px 5px #bac9e6;
}
/* 스크롤바 트랙 위쪽 여백 공간 주기 위해서 */
.stamp_tool::-webkit-scrollbar-button:vertical:start:decrement,
.stamp_tool::-webkit-scrollbar-button:vertical:start:increment {
    display: block;
    height: 25px;
}
/* 만일 스크롤바 트랙 아래쪽도 여백 공간을 주고 싶다면 ... */
.stamp_tool::-webkit-scrollbar-button:vertical:end:decrement {
    display: block;
    width: 25px;
}
.stamp_tool::-webkit-scrollbar{
    width: 12px;
}  
.stamp_tool::-webkit-scrollbar-thumb {
    background-color: #91AEE6;
    border-radius: 20px;
    background-clip: padding-box;
    border: 3px solid transparent;
}
.stamp_tool::-webkit-scrollbar-track {
    background-color: rgba(78, 78, 78, 0);
}
.tool_info {
    background-color: white;
    width: 300px;
    border: 2px solid #91AEE6;
    border-radius: 30px;
    color: #758DBB;
    margin: 25px 0 15px 20px;
}
.stamp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 15px;
}
.stampBtn {
    background: none;
    border: none;
}
.stamp img{
    width: 80px;
    height: auto;
    margin: 10px 0;
    /* 혹시나 배경이나 선이 있을까봐 넣어둠 */
    border: none;
    background-color: transparent;
}


/* modal-section */
.modal-section .modal_cont {
	opacity: 0;
	animation: scaleUp 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
.hidden{
    display:none;
}
/* .modal-section {
    max-width: 415px;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 20;
    background: rgba(0, 0, 0, 0.5);
} */
.modal_cont {
    background-color: #ffffff;
    width: 310px;
    height: 270px;
    margin-left: 52px;
    border: 4px solid #91AEE6;
    border-radius: 30px;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s;
    color: #758DBB;
    position: absolute;
    margin-top: 350px;
}
.modal_cont p {
    margin-bottom: 0;
}
.modal_name {
    width: 260px;
    height: 30px;
    margin: 20px 0 0 20px;
}
.modal_name p {
    margin-left: 15px;
}
.bi-x{
    background: none;
    border: 0;
    height: 10px;
    margin-top: -10px;
    margin-right: 0px;
}
.modal_line {
    width: 230px;
    border: 2px solid #91AEE6;
    border-radius: 5px;
    margin-left: 35px;
}
.modal_detail {
    background-color: #DFEAFF;
    width: 225px;
    height: 90px;
    margin: 10px 0 10px 37px;
    border-radius: 20px;
    padding: 10px 15px;
    overflow-y: scroll; 
}
/* 설명이 길어질 경우를 대비해 스크롤 생성 */
.modal_detail::-webkit-scrollbar-button:vertical:start:decrement,
.modal_detail::-webkit-scrollbar-button:vertical:start:increment {
    display: block;
    height: 5px;
}
.modal_detail::-webkit-scrollbar-button:vertical:end:decrement {
    display: block;
    width: 2px;
}
.modal_detail::-webkit-scrollbar{
    width: 10px;
}  
.modal_detail::-webkit-scrollbar-thumb {
    background-color: #91AEE6;
    border-radius: 20px;
    background-clip: padding-box;
    border: 3px solid transparent;
}
.modal_detail::-webkit-scrollbar-track {
    background-color: rgba(78, 78, 78, 0);
}
.modal_term {
    margin: 10px 0 5px 35px;
}
.modal_date {
    font-size: 14px;
    margin-left: 4px;
}
.modal_svg {
    margin-top: 4px;
}
.modal_start {
    background-color: #DFEAFF;
    padding: 4px 7px 0 7px;
    margin: 0 4px;
    border-radius: 10px;
}
.modal_wave {
    font-size: 20px;
}
.modal_finish {
    background-color: #DFEAFF;
    padding: 4px 7px 0 7px;
    margin: 0 4px;
    border-radius: 10px;
}


/* footer section */
.footer-section {
    margin-top: 20px;
}
.footer-section p{
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    color: rgba(97, 97, 97, 0.5);
}
.footer-section svg {
    z-index: 10;
    color: rgba(97,97, 97, 0.5);
    margin: 3px 2px;
}