@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OKGUNG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.header-font {
    font-family: 'yg-jalnan', sans-serif;
}
.okman-font {
    font-family: 'OKGUNG', sans-serif;
}
.shilla-font{
    font-family: 'Shilla_CultureB-Bold', sans-serif;
}
.display-container {
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, .75);
    max-width: 415px;   
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding-top: 100px;
    z-index: -1;
    background-color: #b2ccff;
    overflow-x: hidden;
}

/* header section */
.header_title{
    position:relative;
    text-align: center;
    z-index:1;
    margin-top:21px;

}
.header_name{
    font-size:50px;
    color:#ffffff;
    -webkit-text-stroke: 1px #000000;
    margin-bottom:0px;
}
.header_sub{
    font-size:50px;
    color:#91AEE6;
    -webkit-text-stroke: 1px #000000;
    margin-top:-10px;
}
.header_add{
    font-size:15px;
    color:#5876B0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
}
/* background img */
.background_img {
    position: relative;
    margin-top: -100px;
}
.clover{
    position: absolute;
    margin-top: -150px;
    margin-left: 30px;
}
.cloud1 {
    z-index: 0;
    height: auto;
    position: absolute;
    width: 180px;
    right: -25px;
    
}
.cloud2 {
    z-index: 0;
    height: auto;
    position: absolute;
    width: 180px;
    left: -25px;
    top: 150px;
}
.cloud3 {
    z-index: 0;
    height: auto;
    position: absolute;
    width: 180px;
    right: -25px;
    top: 350px;
}




/* footer section */
.footer-section {
    margin-top: 400px;
}
.footer-section p{
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    color: rgba(97, 97, 97, 0.5);
}
.footer-section svg {
    z-index: 10;
    color: rgba(97,97, 97, 0.5);
    margin: 3px 2px;
}